<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
	
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>

</head>
<body>


	<section>
		<h1 style="font-size:10vw">Ecommerce</h1>
	</section>



</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
	
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>

</head>
<body>


	<section style="float:right;padding-right:550px;float:top;padding-top:100px;">
		<h4 style="font-size:5vw">Welcome to Niswakash</h4>
		<h5 style="font-size:3vw">The world of shopping!</h5>
		<h6 style="font-size:2vw">Please Login and Enjoy shopping!</h6>
		
	</section>



</body>
</html>